html {
  font-family: "Montserrat";
  font-weight: 450;
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  background-color: darkslategray;
  background-image: url(/assets/images/personal_bg.gif);
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--border-color) var(--text-bg);
}

header {
  margin: 0 auto;
  max-width: 1440px;
}

header img {
  max-width: 100%;
}

marquee {
  font-size: small;
  letter-spacing: .5px;
  padding: 4px;
  color: whitesmoke;
  background-color: darkslategray;
}

#container {
  width:1440px;
  max-width: 100%;
  margin:auto;
}

.flex {
  display: flex;
  max-width: 100%;
  margin: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;

  max-width: 240px;
  width: 240px;
  padding: 1em;
  margin-right: 10px;
}

main {
  background: darkslategrey;
  border-radius: 1em;
  box-shadow: 2px 2px 6px var(--border-shadow);
  padding-inline: 1em;
  max-width: 1160px;
  width: 1160px;
}

h1, h2{
  font-family: "Montserrat";
}

.side-sticky {
  position: sticky;
  top: 20px;
}

#navigate {
  margin-bottom: 0;
  background-color: darkslategray;
  box-shadow: 2px 2px 6px var(--border-shadow);
  padding: .5em 0;
  border-radius: .8em;
  text-align: center;
  text-transform: uppercase;
}

.nav-list {
  text-align: center;
  list-style-type: "";
  padding-left: 0;
  border-radius: 6px;
  background: slategrey;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 12px;
  padding: 0;
}

#navigate li {
  font-size: medium;
  width: 100%;
  margin: 8px;
  border-radius: 3px;
  padding: 6px;
  background: whitesmoke;
}

li a {
  display: inline-block;
  width: 100%;
  color: darkmagenta;
  height: 2rem;
  font-weight: bold;
  line-height: 2rem;
  vertical-align: middle;
  border-radius: .3em;
  text-decoration: none;
  padding: 0 .5em;
}

#navigate summary {
  font-weight: 800;
  font-size: 24px;
  text-shadow: 2px 2px black;
  border: none;
  margin: 0;
  padding: .3em;
}

.contained {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 100%;
  row-gap: 10px;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-evenly;
}

.contained-heading {
  border-radius: 6px 6px 0 0;
  background: slategrey;
  text-shadow: 2px 2px black;
  border: none;
  margin: 0;
  margin-top: 1em;
  padding: .3em .5em;
}

.contained-body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: .5em;
  border-radius: 0 0 6px 6px;
}

.clearfix {
  margin: 10px;
}

#welcome img {
  border-radius: 10%;
  float: left;
  margin-right: 10px;
}

@media only screen and (max-width: 1440px) {
  #container {max-width: 960px;}
  .flex {flex-wrap: wrap;}
  main {max-width: 700px;}
  .page-desc {max-width: 100%;}
}